<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-lg-6">
            <div class="card">
                <img src="<%= member.info.image %> " class="img-fluid rounded-start" alt="<%= "foto " + member.info.main_name %> ">
                <div class="card-body">
                    <h5 class="card-title"><%= member.info.main_name %> </h5>
                    <p class="card-text" style="white-space: pre-wrap"><%- member.info.description.slice(1, -1) %> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-9">
            <div class="card mb-3">
                <video-js class="ratio" autoplay="autoplay" id=example-video width=960 height=540 class="vjs-default-skin" controls>
                    <source src="" type="application/x-mpegURL" id="video">
                </video-js>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/8.0.0-1/video.js" integrity="sha512-o///l2FBgUXBQgnlufCyebrYBqMOtTgu+wWPGAZf3sxzDWzziM37ZlXEisAT1oRCn5Bk6UP+edFRPX38id4tlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@videojs/http-streaming@3.0.0-2/dist/videojs-http-streaming.cjs.min.js"></script>
<script>
    let live = JSON.parse("<%= member.info.is_onlive %>");
    let id = JSON.parse("<%= member.info.room_id %>");

    if (live) {
        fetch(window.location.origin + "/member/live/" + id).then(response => response.json()).then(data => {
            video.src = data.streaming_url_list[0].url;
            var player = videojs('example-video', {
                autoplay: true
            });
        });
    }
</script>